@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none;
  color: #3388cc;
  border: none; 
  ::selection{ background-color:transparent; }
  ::-moz-selection{ background-color:transparent;}
  ::-webkit-selection{ background-color:transparent;}
  -webkit-tap-highlight-color:transparent;
}

img {
  -webkit-touch-callout: none; 
}

input,textarea,select{
  outline:none
}

input:focus, textarea:focus {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-modify: read-write-plaintext-only; 
}

li {
  list-style-type: none; 
}

pre {
  word-wrap: break-word;
  white-space: normal; 
}

table {
  cellspacing: 0px;
  border-collapse: collapse; 
}

.clear {
  height: 1px;
  clear: both; 
}

body{
  background-color:white;
  font-family: "微软雅黑";
  color:#333;
  height: 100%;
  overflow:hidden;
  font-size:15px;
  *{
    box-sizing: border-box;
  }
}
