.t-pager{
    width:100%;
    padding:0px 1%;
    margin-top:5px;
}
.t-pager{
    span{
        display:inline-block;
        margin-right:10px;
    }
    ul{
        float:right;
    }
    li{
        width:40px;
        height:30px;
        line-height:30px;
        text-align:center;
        float:left;
        -webkit-box-sizing:border-box;
        border:1px solid #ddd;
        border-right:none;
        color:#1A79CC;
        cursor:pointer;
    }
    li:hover{
        background-color:#ebebeb;
    }
    li:first-child{
        -webkit-border-top-left-radius:3px;
        -webkit-border-bottom-left-radius:3px;
    }
    li:last-child{
        border-right:1px solid #ddd;
        -webkit-border-top-right-radius:3px;
        -webkit-border-bottom-right-radius:3px;
    }
    li a{
        display:block;
        width:100%;
        height:100%;
        img{
            width:16px;
            height:16px;
            display: inline;
            vertical-align: middle;
            margin-top:-3px;
        }
    }
    .selected{
        background-color:#ebebeb;
    }
}

.pager-loading{
    display: inline-block;
    position:absolute;
    animation:loading 800ms steps(12, end) infinite;
    width:20px;
    height:20px;
    img{
        width:100%;
        height:100%;
    }
}

@keyframes loading{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}