.i-body{
overflow: hidden;
}
.v-body {
    background: url("./img/bg.jpg") repeat center top;
    font-family: "YouYuan";
    overflow-y: auto;
    overflow-x: hidden;
}

.v-header {
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0px;
    background-color: #5FCAFF;
    text-align: center;
    >img {
        width: 230px;
        margin-left: 10px;
        margin-top: 5px;
    }
    span {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 18px;
        background-color: #EC7718;
        color: white;
        border-radius: 3px;
        padding: 5px;
        img {
            width: 25px;
            vertical-align: middle;
        }
    }
}

.v-container {
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

.v-c-top {
    width: 100%;
    height: 100px;
    background: url("./img/bgtop.jpg") no-repeat center top;
}

.v-content {
    width: 100%;
    background-color: white;
    box-shadow: 1px 1px 1px #999;
    border-radius: 3px;
    overflow: hidden;
    padding: 20px 70px;
    .v-c-title {
        border-bottom: 1px dashed #999;
        padding-bottom: 10px;
        h3 {
            width: 100%;
            height: 70px;
            line-height: 60px;
            text-align: center;
            font-size: 25px;
        }
        p {
            width: 100%;
        }
    }
    .v-c-survy {
        margin-top: 4px;
        border: 3px solid white;
        b {
            color: red;
            font-weight: lighter;
            font-size: 10px;
            padding-left: 25px;
            display: none;
        }
        >div {
            border-bottom: 1px solid #ebebeb;
            >div{
                margin-left:25px;
            }
            h3 {
                font-size: 15px;
                width: 100%;
                height: 40px;
                line-height: 30px;
            }
            b {
                padding-left: 0px;
                font-size: 20px;
                padding-left: 10px;
                vertical-align: middle;
                display: inline;
            }
        }
    }
    .v-c-survy.mustselect {
        border: 3px solid #F74C4E;
        >b {
            display: inline;
        }
    }
}

.v-footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #999;
    margin-top: 40px;
}

.v-list {
    position: fixed;
    top: 150px;
    left: 10px;
    width: 170px;
    background-color: white;
    overflow: hidden;
    border-radius: 3px;
    p {
        width: 100%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: #EC7718;
        color: white;
    }
    li {
        padding: 5px 10px;
        span {
            display: inline-block;
            width: 17px;
            height: 17px;
            background-color: #B9D03E;
            border-radius: 30px;
            text-align: center;
            margin-right: 7px;
            color: white;
            font-size: 12px;
            vertical-align: middle;
            margin-top: -3px;
            box-shadow: inset 0px -1px 4px rgba(0, 0, 0, 0.75);
        }
        span.voted {
            background-color: #999;
            box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.75);
        }
        span.voting {
            background-color: #F74C4E;
            box-shadow: inset 0px -1px 4px rgba(0, 0, 0, 0.75);
        }
    }
}

.i-body {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url("./img/bg2.jpg") repeat center top;
    font-family: "YouYuan";
    padding-top: 50px;
}

.i-header {
    width: 100%;
    position: absolute;
    top: 0px;
    height: 50px;
    line-height: 50px;
    background-color: #395891;
    color: white;
    padding-left: 10px;
    box-shadow: 0px 1px 2px gray;
    span {
        vertical-align: middle;
        font-size: 12px;
        background-color: white;
        color: #999;
        padding: 1px 8px;
        border-radius: 3px;
        position: relative;
        margin-left: 10px;
    }
}

.i-voting {
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 30px;
}

.i-votedesp {
    height: 300px;
    width: 100%;
    background: url("./img/votedesp.png") no-repeat center center;
}

.i-startbtn {
    text-align: center;
    img {
        cursor: pointer;
    }
}

.i-manage {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(40, 46, 108, 0.5);
    width: 70px;
    height: 50px;
    img {
        width: 30px;
        height: 30px;
        display: inline-block;
        margin-top: 10px;
        margin-left: 25px;
        cursor: pointer;
    }
}

.i-voteend {
    height: 300px;
    width: 100%;
    background: url("./img/smail.png") no-repeat center center;
}

.getip{
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 5px;
    background-color: rgba(0,0,0,0.5);
    color:white;
    cursor: pointer;
}

