.t-tbl{
    width:98%;
    margin:auto;
    thead{
        height:40px;
        line-height:40px;
        border-bottom:1px solid #ebebeb;
        font-weight: bold;
        tr{
            border-bottom:2px solid #ddd;
        }
        td{
            padding-left:10px;
            border-right:1px solid #ebebeb;
        }
        td:last-child{
            border:none;
        }
    }
    tbody{
        height:40px;
        line-height:40px;
        border-bottom:1px solid #ebebeb;
        td{
            padding-left:10px;
            border-right:1px solid #ebebeb;
            border-bottom:1px solid #ebebeb;
        }
        td:last-child{
            border-right:none;
        }
        tr:nth-child(2n+1),tr:hover{
            background-color:#F4F9FD;
        }
        a{
            margin-right:5px;
        }
    }
}