.t-btn{
    background-color:#4C86DC;
    padding:8px 15px;
    color:white;
    border-radius: 3px;
    position:relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    img{
        width: 20px;
        height: 20px;
        display: inline;
        vertical-align: middle;
        margin-top: -2px;
        margin-right: 5px;
    }
}

.t-btn:active{
    box-shadow:inset 1px 1px 3px rgba(0,0,0,0.4);
}

.t-btn--edit{
    background-color:#F74C4E;
    img{
        width: 15px;
        height: 15px;
    }
}

.t-btn--cancel{
    background-color:#F6F7F9;
    color:#999;
    img{
        width: 15px;
        height: 15px;
    }
}

.t-btn--back{
    background-color:#159F5C;
    color:white;
    img{
        width: 20px;
        height: 20px;
    }
}

.formControl-btn{
    margin-left:90px;
    margin-top:15px;
    >div{
        float:left;
        margin-right:10px;
    }
}