body{
    overflow: hidden;
}
.t-container {
    width: 100%;
    padding-left: 60px;
    background-color: #F6F7F9;
    transition: padding-left 200ms ease;
}

.t-container--close {
    transition: padding-left 200ms ease;
    padding-left: 160px;
}

//问卷工具
.survy_tool {
    p {
        width: 100%;
        height: 30px;
        line-height: 30px;
        color: white;
        cursor: pointer;
        padding-left: 10px;
    }
    p:hover {
        background-color: rgba(250, 250, 250, 0.5);
        border-radius: 3px;
    }
}

.optionbtns {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    li {
        float: left;
        cursor: pointer;
    }
    img {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-right: 5px;
    }
}

.voteBindClassesStatusBar {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #ebebeb;
    li {
        float: left;
        width: 50%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: #ebebeb;
        cursor: pointer;
    }
    li:first-child {
        border-right: 1px solid #ebebeb;
    }
    li.activity {
        background-color: white;
    }
}

.t-statistic {
    width: 100%;
    height: 100%;
    margin-top: 0px;
}

.t-s-votestatus {
    width: 98%;
    height: 70px;
    margin: 1%;
    margin-top: 0px;
    background-color: white;
    border: 1px solid #ddd;
    ul {
        width: 100%;
        margin-top: 10px;
        li {
            float: left;
            width: 20%;
            height: 50px;
            text-align: center;
            border-right: 1px solid #ddd;
            p {
                height: 30px;
                line-height: 30px;
            }
        }
        li:last-child {
            border: none;
        }
    }
}

.t-s-noclassvote {
    height: 70px;
    line-height: 70px;
    font-size: 20px;
    color: #999;
    text-align: center;
}

.t-s {
    width: 98%;
    height: 90px;
    margin: 1%;
    margin-top: 0px;
    ul li {
        width: 25%;
        height: 90px;
        line-height: 35px;
        float: left;
        padding: 10px;
        padding-left: 0px;
        padding-bottom: 0px;
        div {
            height: 100%;
            background-color: white;
            text-align: center;
            border: 1px solid #ddd;
        }
        h3 {
            margin-top: 5px;
        }
        p {
            font-size: 20px;
        }
    }
    ul li:last-child {
        padding-right: 0px;
    }
}

.t-s-teacherlist,
.t-s-classeslist {
    width: 48%;
    height: auto;
    margin: 1%;
    margin-top: 0px;
    background-color: white;
    border: 1px solid #ddd;
    float: left;
    div {
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #ddd;
        padding-left: 10px;
    }
}

.tabledetail {
    width: 98%;
    margin: auto;
    margin-top:10px;
    td {
        height: 35px;
        line-height: 35px;
        text-align: center;
        border: 1px solid #ebebeb;
    }
    td:first-child {
        text-align: left;
        padding-left: 10px;
    }
    tr:nth-child(2n+1){
        background-color:#f9f9f9;
    }
    thead {
        h3 {
            font-weight: lighter;
            font-size:23px;
            text-align: center;
        }
        p {
            font-size: 15px;
            text-align: center;
        }
    }
}