.t-formControls {
    width: 100%;
    margin-bottom: 10px;
    label {
        min-width: 80px;
        display: inline-block;
        margin-right: 10px;
        text-align: right;
    }
    input,
    textarea,
    select {
        width: 70%;
        height: 35px;
        border: 1px solid #ebebeb;
        border-radius: 3px;
        padding-left: 5px;
    }
    input:focus,
    textarea:focus {
        border:1px solid #999;
    }
    textarea {
        min-height: 80px;
        padding-top: 5px;
        outline: none;
        resize: none;
    }
    .formcontrol-input-select {
        display: inline;
        img {
            display: inline;
            vertical-align: middle;
            margin-left: 5px;
            width: 28px;
            height: 28px;
            cursor: pointer;
        }
        img.chachag {
            width: 22px;
            height: 22px;
        }
    }
}

.t-c_radio,
.t-c_checkbox {
    display:inline-block;
    cursor: pointer;
    img {
        width: 18px;
        height: 18px;
        vertical-align: middle;
        margin-top: -4px;
        margin-right: 5px;
    }
}

.t-c_checkbox {
    img {
        width: 18px;
        height: 18px;
    }
}

.t_c_tip {
    span {
        position: relative;
        background-color: black;
        color: white;
        border-radius: 3px;
        padding: 8px 10px;
        padding-right: 25px;
        float: left;
        margin-right: 5px;
    }
    span:hover b {
        //display:block;
    }
    b {
        //display:none;
        cursor: pointer;
    }
    img {
        position: absolute;
        right: 5px;
        top: 12px;
        width: 14px;
        height: 14px;
    }
    .t-btn {
        float: left;
    }
}

.t-slide {
    cursor: pointer;
    display: inline-block;
    width: 80px;
    height: 30px;
    background-color: #ddd;
    border-radius: 3px;
    position: relative;
    span {
        position: absolute;
        width: 100%;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        text-align: right;
        padding-right: 15%;
    }
    b {
        background-color: white;
        display: inline-block;
        width: 50%;
        height: 26px;
        line-height: 26px;
        margin: 2px;
        text-align: center;
        border-radius: 3px;
        position: absolute;
        box-shadow: -1px 1px 3px #454545;
    }
}

.t-slide_activity {
    background-color: rgb(76, 134, 220);
    span {
        text-align: left;
        padding-left: 15%;
        color: white;
    }
    b {
        right: 0px;
    }
}