.t-formControls{
    width:100%;
    margin-bottom:10px;
    label{
        min-width:70px;
        display: inline-block;
        margin-right:5px;
    }
    input,textarea,select{
        width:70%;
        height:35px;
        border:1px solid #ebebeb;
        border-radius: 3px;
        padding-left:5px;
    }
    textarea{
        min-height:80px;
        padding-top:5px;
        outline:none;
        resize:none;
    }
}

.t-c_radio,.t-c_checkbox{
    cursor:pointer;
    img{
        width:18px;
        height:18px;
        vertical-align: middle;
        margin-top:-4px;
        margin-right:5px;
    }
}

.t-c_checkbox{
    img{
        width:18px;
        height:18px;
    }
}


.t_c_tip{
     span{
        position:relative;
        background-color:black;
        color:white;
        border-radius: 3px;
        padding:8px 10px;
        padding-right:25px;
        float:left;
        margin-right:5px;
    }
    span:hover b{
        //display:block;
    }
    b{
        //display:none;
        cursor:pointer;
    }
    img{
        position:absolute;
        right:5px;
        top:12px;
        width:14px;
        height:14px;
    }
    .t-btn{
        float:left;
    }
}